@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,regular,500,700&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-style: normal;
  font-family: Fira Sans;
  background: #fff;
  color: #333333;
}

.wrapper a {
  color: inherit;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

body.lock {
  overflow: hidden;
}

.title {
  font-weight: bold;
  line-height: 110%;
}

.text {
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
}

.btn {
  background: #dba069;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  padding: 20px 30px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #eb9545;
}

.list-image::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #842231;
  z-index: -1;
}

.no-webp .header{
  background: linear-gradient(180deg, rgba(22, 9, 11, 0.5) 0%, rgba(37, 20, 22, 0.5) 100%), url(../img/bg.jpg) center/cover no-repeat; }

.header {
  min-height: 100vh;
  color: #fff;
}

.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.header .header__logo {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .header__burger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}

.header .header__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header .header__click {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 35px;
}

.header .header__click img {
  cursor: pointer;
}

@-webkit-keyframes scaleMode {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.3);
  }

  30% {
    transform: scale(1);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.3);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scaleMode {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.3);
  }

  30% {
    transform: scale(1);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  60% {
    transform: scale(1);
  }

  70% {
    transform: scale(1);
  }

  80% {
    transform: scale(1.3);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.header .header__phone {
  padding: 10px 20px;
  border: 1px solid #dba069;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  letter-spacing: 0.04em;
}

.header .header__phone::before {
  content: url(../img/phone.svg);
  transform: translate(0, 2.5px);
}

@-webkit-keyframes phoneVibro {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes phoneVibro {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.header .header__menu.active {
  transition: transform 0.3s ease;
  transform: translate(0, 0);
}

.header .header__items {
  display: flex;
  gap: 50px;
}

.header .header__items li {
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  line-height: 118.75%;
  position: relative;
}

.header .header__start {
  padding: 5.723% 0;
}

.header .start__container {
  display: flex;
  align-items: flex-start;
  gap: 28px;
}

.header .header__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header .header__body .btn {
  margin: 0 0 40px 0;
}

.header .start__title {
  font-weight: bold;
  line-height: 140%;
  margin: 0 0 20px 0;
}

.header .start__small-title {
  font-weight: bold;
  line-height: 118, 75%;
  margin: 0 0 20px 0;
}

.header .start__items {
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
}

.header .start__item {
  align-items: center;
  font-weight: normal;
  line-height: 83.7%;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.header .start__item span {
  font-size: 20px;
  line-height: 140%;
  text-align: left;
}

.header .header__info {
  padding: 15px;
  flex: 0 1 300px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.header .header__info span {
  font-weight: 400;
}

.header .header__info p:not(:last-child) {
  margin: 0 0 20px 0;
}

main {
  font-family: Fira Sans;
}

main .about-project {
  padding: 100px 0;
  overflow: hidden;
}

main .about-project__container {
  display: flex;
  align-items: center;
  gap: 58px;
}

main .about-project__col-1 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

main .small-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
}

main .about-project__block .about-project__small-title {
  margin: 0 0 20px 0;
}

main .block1 .about-project__small-title {
  margin: 20px 0 0 0;
}

main .about-project__col-2 {
  flex: 0 1 442px;
  display: flex;
  flex-direction: column;
  gap: 110px;
  align-items: center;
}

main .about-project__image {
  position: relative;
  z-index: 1;
}

main .about-project__image::after {
  content: "";
  transform: translate(42px, 33.5px);
}

main .about-project__image::before {
  content: url(../img/pointbg.png);
  width: 450px;
  height: 513px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(90px, 0px);
  z-index: -1;
}

main .cottage {
  background-color: rgba(132, 34, 49, 0.05);
  padding: 40px 0;
}

main .cottage__title {
  margin: 0 0 25px 0;
}

main .cottage__item {
  display: flex;
  align-items: center;
  padding: 0 0 50px 0;
}

main .item__body {
  flex: 0 1 700px;
  position: relative;
}

main .item__body::before {
  content: url(../img/pointbg2.png);
  width: 535px;
  height: 378px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-48px, 30px);
  z-index: -1;
}

main .item__body-more {
  flex: 1 1 436px;
}

main .item__body-more .item__title {
  font-weight: bold;
  line-height: 140%;
  margin: 0 0 10px 68px;
}

main .slider {
  position: relative;
}

main .slider .slick-list {
  overflow: hidden;
}

main .slider .slick-slide {
  opacity: 0;
  transition: opacity 0.3s;
}

main .slider .slick-slide.slick-current {
  opacity: 1;
}

main .slider .slick-track {
  display: flex;
  gap: 40px;
}

main .slider .slick-arrow {
  position: absolute;
  font-size: 0;
  width: 50px;
  height: 50px;
  z-index: 55;
  border-radius: 50%;
  background-color: #842231;
  bottom: 50%;
  transform: translate(0, 50%);
}

main .slider .slick-arrow.slick-prev {
  cursor: pointer;
  left: -80px;
}

main .slider .slick-arrow.slick-prev::before {
  content: url(../img/arrowprev.svg);
}

main .slider .slick-arrow.slick-next {
  cursor: pointer;
  right: -80px;
}

main .slider .slick-arrow.slick-next::after {
  content: url(../img/arrownext.svg);
}

main .location {
  padding: 110px 0;
  overflow: hidden;
}

main .location__container {
  display: flex;
  align-items: center;
}

main .location__body {
  flex: 1 1 auto;
}

main .location__body p:not(:last-child) {
  margin: 0 0 20px 0;
}

main .location__title {
  margin: 0 0 45px 0;
}

main .location__text {
  max-width: 480px;
}

main .location__image {
  flex: 0 1 581px;
  position: relative;
}

main .location__image::after {
  content: "";
  transform: translate(42px, 42px);
}

main .location__image::before {
  content: url(../img/pointbg3.png);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(60px, 50px);
  z-index: -1;
}

.no-webp main .privilege{
  background: url(../img/bgItem.png) 0 100% no-repeat; }

main .privilege {
  padding: 60px 0;
  position: relative;
}

main .privilege::before {
  content: "";
  width: 200vw;
  height: 100%;
  background-color: rgba(132, 34, 49, 0.05);
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(382px, 0);
  z-index: -1;
}

main .privilege__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .privilege__body {
  flex: 0 1 900px;
}

main .privilege__body img {
  margin: 40px 0;
  width: 100%;
  height: auto;
}

main .privilege__title {
  margin: 0 0 40px 0;
}

main .privilege__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 40px auto;
  -ms-grid-columns: auto 40px auto;
      grid-template: repeat(2, auto)/repeat(2, auto);
  gap: 40px;
  max-width: 807px;
}

main .privilege__items li {
  font-weight: 300;
  font-size: 20px;
  line-height: 110%;
  display: flex;
  align-items: center;
  gap: 15px;
}

main .privilege__items li:nth-child(1)::before {
  content: url(../img/map.svg);
}

main .privilege__items li:nth-child(2)::before {
  content: url(../img/def.svg);
}

main .privilege__items li:nth-child(3)::before {
  content: url(../img/wall.svg);
}

main .privilege__items li:nth-child(4)::before {
  content: url(../img/sofa.svg);
}

main .privilege__items:last-child .privilege__item:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

main .privilege__items:last-child li:nth-child(1)::before {
  content: url(../img/home.svg);
}

main .privilege__items:last-child li:nth-child(2)::before {
  content: url(../img/phoneItem.svg);
}

main .privilege__items:last-child li:nth-child(3)::before {
  content: url(../img/dop.svg);
}

main .why {
  padding: 110px 0;
  overflow: hidden;
}

main .why__title {
  margin: 0 0 100px 0;
}

main .why__body {
  display: flex;
  align-items: center;
  gap: 40px;
}

main .why__image {
  flex: 0 1 453px;
  position: relative;
}

main .why__image img {
  max-width: 453px;
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .why__image::after {
  content: "";
  transform: translate(-42px, 35px);
}

main .why__image::before {
  content: url(../img/pointbg4.png);
  width: 450px;
  height: 397px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-75px, 75px);
  z-index: -1;
}

main .why__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 30px auto;
  -ms-grid-columns: auto 30px auto;
      grid-template: repeat(2, auto)/repeat(2, auto);
  gap: 30px;
}

main .why__items li {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

main .why__items li .text:not(:last-child) {
  margin: 0 0 20px 0;
}

main .why__items li:nth-child(1)::before {
  content: url(../img/light.svg);
}

main .why__items li:nth-child(2)::before {
  content: url(../img/eco.svg);
}

main .why__items li:nth-child(3)::before {
  content: url(../img/def.svg);
}

main .why__items li:nth-child(4)::before {
  content: url(../img/water.svg);
}

main .item__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px 0;
}

main .item__text {
  font-size: 18px;
}

main .technic {
  padding: 80px 0;
}

main .technic__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .technic__title {
  margin: 0 0 42px 0;
}

main .technic__body {
  display: flex;
  gap: 100px;
}

main .technic__col-1 {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 83px;
}

main .technic__item img {
  margin: 0 0 32px 0;
  max-width: 100%;
  max-height: 300px;
}

main .technic__item-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px 0;
}

main .technic__text {
  font-size: 18px;
}

main .technic__col-2 {
  margin: 115px 0 0 0;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 83px;
}

main .download__container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #842231;
  box-sizing: border-box;
  border-radius: 8px;
}

main .download__body {
  flex: 0 1 880px;
  text-align: center;
  padding: 70px 0;
}

main .download__title {
  margin: 0 0 10px 0;
}

main .download__text {
  margin: 0 0 35px 0;
}

main .download__form {
  display: flex;
  justify-content: center;
  gap: 20px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

main .name {
  flex: 0 1 280px;
  border-radius: 8px;
  background: url(../img/user.svg) 20px center no-repeat, #f2f6fa;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  padding: 30px 30px 30px 60px;
}

main .name.placeholder {
  color: #7e868e;
}

main .name.error {
  box-shadow: 1px 1px 10px red;
}

main .number {
  flex: 0 1 280px;
  background: url(../img/PhoneForm.svg) 20px center no-repeat, #f2f6fa;
  border-radius: 8px;
  font-weight: normal;
  font-size: 15px;
  padding: 30px 30px 30px 60px;
  line-height: 160%;
}

main .number.placeholder {
  color: #7e868e;
}

main .number.error {
  box-shadow: 1px 1px 10px red;
}

main .input {
  flex: 0 1 280px;
  cursor: pointer;
  padding: 29px 41px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
  color: #fff;
  background-color: #842231;
  transition: all 0.3s;
}

main .input:hover {
  background-color: #9c1529;
}

main .well {
  background: #fff;
  border-radius: 8px;
  border: 5px solid #842231;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: fixed;
  top: 25px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -100%);
  transition: all 0.3s;
}

main .well.open {
  transform: translate(-50%, 0);
  opacity: 1;
}

main .pay {
  padding: 130px 0;
}

main .pay__container {
  text-align: center;
}

main .pay__title {
  margin: 0 0 60px 0;
}

main .pay__items {
  display: flex;
  gap: 21px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

main .pay__item {
  flex: 0 1 205px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}

main .pay__item-image {
  flex: 0 0 100px;
  max-width: 100px;
}

main .pay-item__title {
  flex: 1 1 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 110%;
}

main .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s;
}

main .popup.open {
  opacity: 1;
  visibility: visible;
}

main .popup.open .popup__content {
  opacity: 1;
  transform: perspective(600px) translate(0, 0) rotateX(0deg);
}

main .popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

main .popup .popup__content {
  background: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s;
  opacity: 0;
  transform: perspective(600px) translate(0, -100%) rotateX(45deg);
}

main .popup .popup__close {
  position: absolute;
  right: 40px;
  top: 25px;
}

main .popup .popup__close::before,
main .popup .popup__close::after {
  content: "";
  position: absolute;
  width: 25px;
  background: #000;
  height: 3px;
  border-radius: 3px;
}

main .popup .popup__close::before {
  transform: rotate(45deg);
}

main .popup .popup__close::after {
  transform: rotate(-45deg);
}

main .popup .popup__title {
  margin: 0 0 0.5em 0;
}

main .popup .close-popup {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

footer {
  font-family: Fira Sans;
}

footer .footer__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 100px;
}

footer .footer__image {
  flex: 0 1 578px;
  margin: 0 0 15px 0;
}

footer .footer__image img {
  width: 100%;
  height: auto;
}

footer .footer__body {
  flex: 0 1 400px;
}

footer .footer__title {
  margin: 0 0 28px 0;
}

footer .footer__address {
  margin: 0 0 10px 0;
  font-size: 18px;
}

footer .footer__contact {
  display: flex;
  align-items: start;
  gap: 60px;
  font-size: 18px;
}

footer .footer__items a {
  color: inherit;
}

footer .footer__items li:not(:last-child) {
  margin: 0 0 10px 0;
}

footer .footer__items li {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .footer__items li:nth-child(1)::before {
  content: url(../img/phonefooter.svg);
}

footer .footer__items li:nth-child(2)::before {
  content: url(../img/mail.svg);
}

footer .footer__items li:nth-child(3)::before {
  content: url(../img/inst.svg);
}

@media (min-width: 992px) {
  .title {
    font-size: calc(32px + 16 * (100vw / 1180));
  }

  .header .start__title {
    font-size: calc(30px + 8 * (100vw / 1180));
  }

  .header .start__small-title {
    font-size: calc(26px + 6 * (100vw / 1180));
  }

  .header .start__item {
    font-size: calc(60px + 68 * (100vw / 1180));
  }

  main .item__body-more .item__title {
    font-size: calc(26px + 6 * (100vw / 1180));
  }
}

@media (min-width: 992.01px) {
  .header .header__click img {
    -webkit-animation: scaleMode 10s ease-in-out infinite;
            animation: scaleMode 10s ease-in-out infinite;
  }

  .header .header__phone::before {
    -webkit-animation: phoneVibro 5s ease-in-out infinite;
            animation: phoneVibro 5s ease-in-out infinite;
  }

  .header .header__items li::after {
    content: "";
    position: absolute;
    display: block;
    margin: 3px 0 0 0;
    width: 0%;
    height: 4px;
    background: #dba069;
    transition: width 0.3s ease;
  }

  .header .header__items li:hover:after {
    width: 100%;
  }

  footer .footer__image {
    height: 428px;
  }
}

@media (min-width: 1180px) {
  .title {
    font-size: 48px;
  }

  .header .start__title {
    font-size: 38px;
  }

  .header .start__small-title {
    font-size: 32px;
  }

  .header .start__item {
    font-size: 128px;
  }

  main .item__body-more .item__title {
    font-size: 32px;
  }
}

@media (max-width: 1400px) {
  main .cottage {
    padding: 40px 0 80px;
  }

  main .slider .slick-arrow {
    bottom: 20px;
  }

  main .slider .slick-arrow.slick-prev {
    left: 50%;
    transform: translate(-60px, 80px);
  }

  main .slider .slick-arrow.slick-next {
    right: 50%;
    transform: translate(60px, 80px);
  }
}

@media (max-width: 1180px) {
  main .why__items {
    -ms-grid-rows: (auto)[4];
    -ms-grid-columns: (auto)[1];
        grid-template: repeat(4, auto)/repeat(1, auto);
  }
}

@media (max-width: 1024px) {
  .header .header__items {
    gap: 40px;
  }
}

@media (max-width: 992px) {
  .container {
    overflow: hidden;
  }

  .title {
    font-size: calc(32px + 27.2 * ((100vw - 320px) / 1180));
  }

  .list-image::after {
    display: none;
  }

  .header .header__container {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    height: 75px;
  }

  .header .header__logo img {
    width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .header .header__burger {
    z-index: 5;
    margin: 0 60px 0 0;
    display: block;
    right: 0;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 20px;
  }

  .header .header__burger span,
  .header .header__burger::after,
  .header .header__burger::before {
    position: absolute;
    height: 10%;
    right: 0;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #333333;
  }

  .header .header__burger::after,
  .header .header__burger::before {
    content: "";
  }

  .header .header__burger::before {
    top: 0;
  }

  .header .header__burger::after {
    bottom: 0;
    width: 50%;
  }

  .header .header__burger span {
    top: 50%;
    width: 75%;
    transform: scale(1) translate(0px, -50%);
  }

  .header .header__burger.active span {
    width: 100%;
    transform: scale(0);
  }

  .header .header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .header .header__burger.active::after {
    width: 100%;
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .header .header__click {
    background-color: #dba069;
    display: inline-flex;
    border-radius: 50px;
    padding: 0 15px;
    gap: 15px;
    margin: 10px 0 0 0;
  }

  .header .header__menu {
    position: fixed;
    transition: transform 0.3s ease;
    transform: translate(-100%, 0);
    overflow: auto;
    left: 0;
    background: #fff;
    top: 75px;
    width: 100%;
    height: 100%;
    z-index: 50;
    text-align: center;
  }

  .header .header__items {
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .header .header__items li {
    color: #333333;
    font-size: 30px;
  }

  .header .header__start {
    padding: 200px 0 0 0;
  }

  .header .start__title {
    font-size: calc(30px + 13.6 * ((100vw - 320px) / 1180));
  }

  .header .start__small-title {
    font-size: calc(26px + 10.2 * ((100vw - 320px) / 1180));
  }

  .header .start__item {
    font-size: calc(60px + 115.6 * ((100vw - 320px) / 1180));
  }

  main .about-project__container {
    flex-direction: column;
  }

  main .about-project__col-2 {
    gap: 60px;
  }

  main .about-project__image::before {
    display: none;
  }

  main .cottage__item {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0 0 20px 0;
  }

  main .item__body {
    flex: 1 1 auto;
  }

  main .item__body-more {
    flex: 1 1 auto;
    text-align: center;
  }

  main .item__body-more .item__title {
    font-size: calc(26px + 10.2 * ((100vw - 320px) / 1180));
  }

  main .item__body-more .item__title {
    margin: 0 0 10px 0;
  }

  main .slider {
    padding: 0 0 80px;
  }

  main .slider .slick-arrow {
    bottom: 0;
  }

  main .slider .slick-arrow.slick-prev {
    transform: translate(-60px, 0);
  }

  main .slider .slick-arrow.slick-next {
    transform: translate(60px, 0);
  }

  main .location__container {
    flex-direction: column;
    gap: 20px;
  }

  main .location__text {
    max-width: 100%;
  }

  main .location__image {
    flex: 1 1 auto;
  }

  main .location__image img {
    width: 100%;
    height: auto;
  }

  main .location__image::after {
    display: none;
  }

  main .location__image::before {
    display: none;
  }

  .no-webp main .privilege{
    background: url(../img/bgItem.png) 0 100% no-repeat, rgba(132, 34, 49, 0.05); }

  main .privilege::before {
    display: none;
  }

  main .privilege__items {
    -ms-grid-rows: (auto)[4];
    -ms-grid-columns: (auto)[1];
        grid-template: repeat(4, auto)/repeat(1, auto);
  }

  main .privilege__items:last-child .privilege__item:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  main .why__body {
    flex-direction: column-reverse;
    justify-content: center;
  }

  main .why__image {
    flex: 1 1 auto;
  }

  main .why__image::before {
    display: none;
  }

  main .technic__body {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
  }

  main .technic__col-1 {
    gap: 40px;
  }

  main .technic__col-2 {
    gap: 40px;
    margin: 0 0 0 0;
  }

  main .download__form {
    flex-direction: column;
    gap: 5px;
  }

  main .name {
    flex: 1 1 auto;
  }

  main .number {
    flex: 1 1 auto;
  }

  main .input {
    flex: 1 1 auto;
  }

  main .well.open {
    transform: translate(-50%, 100%);
  }

  footer .footer__container {
    gap: 20px;
    text-align: center;
  }

  footer .footer__image {
    flex: 1 1 auto;
  }

  footer .footer__body {
    flex: 1 1 auto;
  }

  footer .footer__contact {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  main .cottage__slider {
    max-width: 100vw;
  }

  main .item__body img {
    width: 100%;
    height: auto;
  }

  main .item__body-more img {
    width: 100%;
    height: auto;
  }

  main .slider .slick-track {
    gap: 0px;
  }
}

@media (max-width: 600px) {
  .header .header__start {
    padding: 150px 0 0 0;
  }

  .header .start__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header .header__body {
    align-items: center;
    text-align: center;
  }

  .header .start__items {
    flex-direction: column;
    align-items: center;
  }

  .header .header__info {
    padding: 0;
  }
}

@media (max-width: 480px) {
  main .about-project__image img {
    width: 100%;
    height: auto;
  }

  main .cottage__item {
    gap: 20px;
  }

  main .item__body::before {
    display: none;
  }

  main .why__image img {
    width: 100%;
    height: auto;
  }

  footer .footer__contact {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.webp .header{ background: linear-gradient(180deg, rgba(22, 9, 11, 0.5) 0%, rgba(37, 20, 22, 0.5) 100%), url(../img/bg.webp) center/cover no-repeat; }

.webp main .privilege{ background: url(../img/bgItem.webp) 0 100% no-repeat; }

@media (max-width: 992px){

  .webp main .privilege{ background: url(../img/bgItem.webp) 0 100% no-repeat, rgba(132, 34, 49, 0.05); }
}